### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [6]:
def unique_element(l):

  l2=[]
  for i in l:
    if i not in l2:

      l2.append(i)

  return l2
l=[1,2,3,3,3,3,4,5]

print(unique_element(l))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [17]:
# Write code here
def alpha(words):
  word=words.split("-")
  word.sort()
  sorted="-".join(word)
  return(sorted)

words="green-red-yellow-black-white"
print(alpha(words))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [22]:
# Write code here
def count_case(Sample_String ):
  upper_count=0
  lower_count=0
  for i in Sample_String:
    if i.isupper():
      upper_count += 1
    elif i.islower():
      lower_count += 1
  return(upper_count,lower_count)

Sample_String ="CampusX is an Online Mentorship Program fOr EnginEering studentS."

upper,lower=count_case(Sample_String)
print("No. of Upper case characters : ",upper)
print("No. of Upper case characters :", lower)

No. of Upper case characters :  9
No. of Upper case characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [26]:
# Write code here
def find_even(num):
  result=[]
  for n in num:
    if n%2==0:
      result.append(n)
  return(result)
num=[1, 2, 3, 4, 5, 6, 7, 8, 9]
result=find_even(num)
print(result)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [4]:
def perfect(num):
  sum=0
  sum1=0
  for i in range(1,num+1):
   if num%i==0 and num!=i:
    sum=sum+i
   elif num==i:
    sum1=sum+num%2

  if sum1==sum:
        print("perfect number")
  else:
        print("not perfect number")


num =int(input("enter the number"))
perfect(num)

perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [6]:
# Write code here
def concatenate(*dicts):
  dict4={}
  for i in dicts:
    dict4.update(i)
  return(dict4)
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}


print(concatenate(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [5]:
# Write code here
def mostcom(s):
  s=s.split(" ")
  print(s)
  s1=[]
  s2=[]
  count=1
  for i in s:
    if i not in s1:
     s1.append(i)
    else:
      count=count+1
      s2.append(i)

  print(s2[0],"->",count)




s="hello how are you i am fine thank you"
mostcom(s)

['hello', 'how', 'are', 'you', 'i', 'am', 'fine', 'thank', 'you']
you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [2]:
# Write code here
def histogram(input):
  dic1={}

  for i in input:
    upper=(i//10)*10+1
    lower=upper+9

    key=f'{lower}-{upper}'

    if key in dic1:
      dic1[key] += 1
    else:
      dic1[key] = 1

  return dic1

input=[13,42,15,37,22,39,41,50]
print(histogram(input))

{'20-11': 2, '50-41': 2, '40-31': 2, '30-21': 1, '60-51': 1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [3]:
# Write code here

l1=[1,2,3]
l2=[3,4,5]
l3=[6,7,8]

result= list(map(lambda a,b,c : a+ b+ c,l1 ,l2 ,l3))
print(result)

[10, 13, 16]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [6]:
# Write code here
list1=[1,2,3,4,5,6]

result = list(map(lambda x: x[1] ** x[0], enumerate(list1)))

print(result)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

`Problem-14`: Use reduce to convert a 2D list to 1D

In [5]:
# Write code here

from functools import reduce
list1=[[2,3,4],[3,4,5],[5,4,3]]

flattened =reduce(lambda a, b: a + b, list1)

print(flattened)

[2, 3, 4, 3, 4, 5, 5, 4, 3]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']